{%extends 'base.html'%}
{%block content%}
                {% if request.user.admin %}
                        <div class="p-5 ">
                            <div class="flex flex-wrap items-center gap-3">
                        <a type="button"
                                        class="btn bg-success/25 text-success hover:bg-success hover:text-white"
                        href="{%url 'competitions_create'%}">
                            Добавить соревнование</a>
                        <a type="button"
                                        class="btn bg-info/25 text-info hover:bg-info hover:text-white"
                        href="{%url 'seminars_create'%}">
                            Добавить семинар</a>
                            </div>
                        </div>
                {% endif %}
				    <div class="card overflow-hidden">
                        <div class="card-header">
                            <h4 class="card-title">Мероприятия</h4>
                        </div>
                        <div>
                            <div class="overflow-x-auto">
                                <div class="min-w-full inline-block align-middle">
                                    <div class="overflow-hidden">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                                        Тип мероприятия</th>
                                                    <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                                        Название</th>
                                                    <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                                        Прием заявок
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                                        Окончание приема заявок
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                                        Стоимость
                                                    </th>
                                                    {% if request.user.admin %}
                                                    <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                                        Действие
                                                    </th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                        <tbody>
                                            {% for object in object_list %}

                                                <tr class="odd:bg-white even:bg-gray-100 hover:bg-gray-100">
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                        {{ object.type }} </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                                        <a class="text-primary hover:text-sky-700" href="{%url 'event_detail' object.id%}">{{ object.name }}</a></td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                        {{ object.date_begin|date:"d.m.Y" }} </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                        {{ object.date_end|date:"d.m.Y" }}</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                        {{ object.cost }}</td>
                                                    {% if request.user.admin %}
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                        <a class="text-primary hover:text-sky-700" href="{%url 'event_delete' object.id%}">Удалить</a> </td>
                                                    {% endif %}
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}