{%extends 'base.html'%}
{%block content%}   
{% if request.user.admin %}
                        <div class="p-5 ">
                            <div class="flex flex-wrap items-center gap-3">
                        <a type="button"
                                        class="btn bg-success/25 text-success hover:bg-success hover:text-white"
                        href="{%url 'news_update' pk=object.pk%}">
                            Изменить новость</a>

                                     <form action="{%url 'news_delete' pk=object.pk%}" method="POST">

                                                            {% csrf_token %}
                                                            <button class="btn bg-danger/25 text-danger hover:bg-danger hover:text-white">Удалить</button>
                                                        </form>

                            </div>
                        </div>
{% endif %}
                            <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
                                {% if object.banner  %}
                                <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl"
                                    src={{ object.banner.url }} alt=''>
                                {% endif %}
                            </div>
                            <div class="p-4 md:p-5">
                                <h3 class="text-lg font-bold text-gray-800">
                                    {{ object.name}}
                                </h3>
                                <p class="mt-1 text-gray-500">
                                    {{ object.about }}
                                </p>
                            </div>

{% endblock %}